transports/cxf/src/test/resources/simplewithheader.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/simplewithheader/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="simplewithheader"
                  targetNamespace="http://www.example.org/simplewithheader/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/simplewithheader/">
            <xsd:element name="header">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="headerparam" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NewOperationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NewOperationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NewOperationRequest">
        <wsdl:part name="basicHeader" element="tns:header"/>
        <wsdl:part element="tns:NewOperationRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
        <wsdl:part name="basicHeader" element="tns:header"/>
        <wsdl:part element="tns:NewOperationResponse" name="body"/>
    </wsdl:message>
    <wsdl:portType name="simplewithheader">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest"/>
            <wsdl:output message="tns:NewOperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="simplewithheaderSOAP" type="tns:simplewithheader">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation">
            <soap:operation
                    soapAction="http://www.example.org/simplewithheader/NewOperation"/>
            <wsdl:input>
                <soap:header use="literal" part="basicHeader"
                             message="tns:NewOperationRequest"/>
                <soap:body parts="body" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" part="basicHeader"
                             message="tns:NewOperationResponse"/>
                <soap:body parts="body" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="simplewithheader">
        <wsdl:port binding="tns:simplewithheaderSOAP" name="simplewithheaderSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
