modules/oauth/src/test/resources/mule-oauth2n.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/oauth2" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/httpn" schemaLocation="http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:complexType name="org.mule.extension.module.oauth2.internal.authorizationcode.AuthorizationRequestHandler">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="custom-parameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="custom-parameter">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="scopes"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="state"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="localAuthorizationUrl"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="authorizationUrl"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="customParameters"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.module.oauth2.internal.authorizationcode.DefaultAuthorizationCodeGrantType">
    <xs:complexContent>
      <xs:extension xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" base="httpn:org.mule.extension.http.api.request.authentication.HttpAuthentication">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="authorization-request-handler">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" base="oauth2:org.mule.extension.module.oauth2.internal.authorizationcode.AuthorizationRequestHandler"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientSecret"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="localCallbackConfigPath"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="localCallbackUrl"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="externalCallbackUrl"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="authorizationRequestHandler"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="tokenRequestHandler"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="localAuthorizationUrlResourceOwnerId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="resourceOwnerId"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" type="oauth2:org.mule.extension.module.oauth2.internal.authorizationcode.DefaultAuthorizationCodeGrantType" substitutionGroup="httpn:abstract-http-authentication" abstract="true" name="abstract-authorization-code-grant-type"></xs:element>
  <xs:element xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" substitutionGroup="oauth2:abstract-authorization-code-grant-type" name="authorization-code-grant-type">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2:org.mule.extension.module.oauth2.internal.authorizationcode.DefaultAuthorizationCodeGrantType"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.module.oauth2.internal.authorizationcode.TokenResponseConfiguration">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="optional" name="accessToken"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="expiresIn"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.module.oauth2.internal.clientcredentials.ClientCredentialsTokenRequestHandler">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="token-response-configuration">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" base="oauth2:org.mule.extension.module.oauth2.internal.authorizationcode.TokenResponseConfiguration"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="tokenResponseConfiguration"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" name="encodeClientCredentialsInBody"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="refreshTokenWhen"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="tokenUrl"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.module.oauth2.internal.clientcredentials.ClientCredentialsGrantType">
    <xs:complexContent>
      <xs:extension xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" base="httpn:org.mule.extension.http.api.request.authentication.HttpAuthentication">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="token-request">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" base="oauth2:org.mule.extension.module.oauth2.internal.clientcredentials.ClientCredentialsTokenRequestHandler"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientSecret"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="tokenRequest"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" type="oauth2:org.mule.extension.module.oauth2.internal.clientcredentials.ClientCredentialsGrantType" substitutionGroup="httpn:abstract-http-authentication" abstract="true" name="abstract-client-credentials-grant-type"></xs:element>
  <xs:element xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" substitutionGroup="oauth2:abstract-client-credentials-grant-type" name="client-credentials-grant-type">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2:org.mule.extension.module.oauth2.internal.clientcredentials.ClientCredentialsGrantType"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="token-manager-config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:dynamic-config-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>